mat-toolbar {
    margin-bottom: 20px;
  }
  
  mat-toolbar > span {
    margin-left: 10px;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }